html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(112, 112, 112);
    background: linear-gradient(135deg, rgb(102, 102, 102) 34%, rgb(0, 26, 255) 93%);
}

.Titulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(69, 134, 255);
    margin: 0;
    padding: 10px;
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 5px;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar ul li:hover {
    background-color: black;
    color: white;
}

#itens ul {
    display: flex;
    flex-direction: column;
}

#itens ul li {
    padding: 10px;
}

.itens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:  rgb(208, 208, 212);
    margin-left: 30px;
    padding: 20px;
    width: 75%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 25px;
}

article{
    display: flex;
    justify-content: center;
}
aside{
    border: 1px solid black;
    width: 25%;
    padding-left: 20px;
    background-color: lightgray;
    margin-left: 20px;
     
}